.appeal {
  padding-top: 27px;
  padding-bottom: 22px;
  background-color: $color-basic-green;
  height: 480px; // временно для сетки

  @media (min-width: $tablet-width) {
    min-height: 872px; // временно для сетки
  }

  @media (min-width: $desktop-width) {
    min-height: 587px; // временно для сетки
  }
}

.appeal__title {
  margin: 0;
  font-family: $oswald-font;

  @include text-set(36px, 36px, 400);
  color: $color-basic-white;
}

.appeal__slogan {
  margin: 0;
  font-family: $oswald-font;

  @include text-set(14px, 14px, 400);
  color: $color-basic-white;
  text-transform: uppercase;
}

.appeal__link {
  display: block;
  font-family: $oswald-font;
  color: $color-basic-white;
  background-color: $color-basic-green;

  @include link-reset (none, uppercase);
}
