.catalog__wrapper {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 55px;
    margin: 0 auto;
  }
}

.catalog__list {
  list-style: none;

  @include space-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    row-gap: 139px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}
