.contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 104px;
  }
}

.contacts__slogan {
  margin: 0;
  font-family: $oswald-font;

  @include text-set(16px, 20px, 400);
  text-transform: uppercase;
  color: $contacts-black;
}

.contacts__address {
  margin: 0;

  @include text-set(14px, 20px, 400);
  color: $color-dark-grey;
}

.contacts__map {
  height: 362px;//временно для сетки
  background-color: $color-basic-green; //временно для сетки

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contacts__container {
  background-color: $color-bg-body;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    position: relative;
    z-index: 1;
  }
}
