.description {
  padding-top: 27px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 0;
  }
}

.description__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $oswald-font;

  @include text-set(36px, 40px, 400);

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    @include text-set (60px, 60px, 400);
  }
}

.description__list {
  @include space-reset;
  list-style: none;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    padding-right: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
    column-gap: 79px;
    row-gap: 0;
    padding-right: 0;
  }
}

.description__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  &--ingredients::before {
    background-image: url("../img/description/icon_sheet.png");
  }

  @media (min-resolution: 2dppx) {
    &--ingredients::before {
      background-image: url("../img/description/icon_sheet@2x.png");
      background-size: 60px 60px;
    }
  }

  &--form::before {
    background-image: url("../img/description/icon_substance.png");
  }

  @media (min-resolution: 2dppx) {
    &--form::before {
      background-image: url("../img/description/icon_substance@2x.png");
      background-size: 60px 60px;
    }
  }

  &--application::before {
    background-image: url("../img/description/icon_cutlery.png");
  }

  @media (min-resolution: 2dppx) {
    &--application::before {
      background-image: url("../img/description/icon_cutlery@2x.png");
      background-size: 60px 60px;
    }
  }

  &--results::before {
    background-image: url("../img/description/icon_scales.png");
  }

  @media (min-resolution: 2dppx) {
    &--results::before {
      background-image: url("../img/description/icon_scales@2x.png");
      background-size: 60px 60px;
    }
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 151px 0 57px 0;
    padding-left: 0;

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &--ingredients::before {
      background-image: url("../img/description/icon_sheet_tablet.png");
    }

    @media (min-resolution: 2dppx) {
      &--ingredients::before {
        background-image: url("../img/description/icon_sheet_tablet@2x.png");
        background-size: 80px 80px;
      }
    }

    &--form::before {
      background-image: url("../img/description/icon_substance_tablet.png");
    }

    @media (min-resolution: 2dppx) {
      &--form::before {
        background-image: url("../img/description/icon_substance_tablet@2x.png");
        background-size: 80px 80px;
      }
    }

    &--application::before {
      background-image: url("../img/description/icon_cutlery_tablet.png");
    }

    @media (min-resolution: 2dppx) {
      &--application::before {
        background-image: url("../img/description/icon_cutlery_tablet@2x.png");
        background-size: 80px 80px;
      }
    }

    &--results::before {
      background-image: url("../img/description/icon_scales_tablet.png");
    }

    @media (min-resolution: 2dppx) {
      &--results::before {
        background-image: url("../img/description/icon_scales_tablet@2x.png");
        background-size: 80px 80px;
      }
    }


    &::after {
      position: absolute;
      z-index: -1;
      counter-increment: myCounter;
      content: counter(myCounter);
      display: inline-block;
      text-align: center;
      width: auto;
      height: 227px;
      top: 0;
      right: 0;
      font-size: 280px;
      line-height: 280px;
      font-family: $oswald-font;
      color: #f2f2f2;
    }

    &--ingredients::after {
      right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--ingredients::after {
      right: 15px;
    }
  }
}

.description__text {
  margin: 0;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    @include text-set (16px, 24px, 400);
  }
}


.description__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
