.description {
  padding-top: 27px;
  padding-bottom: 42px;
}

.description__title {
  margin: 0;
  font-family: $oswald-font;

  @include text-set(36px, 40px, 400);
}

.description__list {
  @include space-reset;
}

.description__text {
  margin: 0;
  color: $color-dark-grey;
}
