.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $color-basic-grey;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;

  @include space-reset;
  list-style: none;
}

.page-footer__developer {
  color: $color-dark-grey;
  text-decoration: none;
}

.page-footer__links {
  display: flex;
  justify-content: space-between;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
