.product__content {
  display: flex;
}

.product__title {
  margin: 0;
}

.product__link {
  font-family: $oswald-font;

  @include text-set(16px, 20px, 400);
  @include link-reset(none, uppercase);
  color: $color-special-dark-grey;
}

.product__element {
  @include text-set(12px, 16px, 400);
  color: $color-dark-grey;
}

.product__button {
  display: block;
  font-family: $oswald-font;

  @include text-set(16px, 20px, 400);
  @include link-reset(none, uppercase);
  background-color: $color-basic-green;
  color: $color-basic-white;
}
