.to-all {
  padding-top: 78px;
  padding-bottom: 24px;
  border-bottom: 1px solid $color-catalog-border;
  border-top: 1px solid $color-catalog-border;

  @media (min-width: $tablet-width) {
    padding: 161px 37px 36px 38px;
    border: 2px solid $color-basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 37px 40px 37px;
    border: 2px solid $color-basic-grey;
  }
}

.to-all__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $color-toall-cross;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $color-toall-cross;
    top: -39px;
    left: 50%;
    transform: rotate(90deg) translateY(15px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;

    &::before {
      width: 60px;
      top: -79px;
    }

    &::after {
      width: 60px;
      top: -79px;
      transform: rotate(90deg) translateY(30px);
    }
  }
}

.to-all__link {
  font-family: $oswald-font;

  @include text-set(16px, 20px, 400);
  @include link-reset(none, uppercase);
  color: $contacts-black;

  @media (min-width: $tablet-width) {
    display: inline-block;

    @include text-set(20px, 22px, 400);
    max-width: 134px;
    text-align: center;
  }
}

.to-all__text {
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @include text-set(12px, 16px, 400);

  @media (min-width: $tablet-width) {
    @include text-set(16px, 18px, 400);
    max-width: 167px;
    margin: 0 auto;
    margin-bottom: 86px;
  }
}

.to-all__button {
  display: block;
  padding: 10px;
  font-family: $oswald-font;
  text-align: center;

  @include text-set(16px, 20px, 400);
  @include link-reset(none, uppercase);
  color: $color-dark-grey;
  background-color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    // padding-bottom: 9px;
  }
}
