$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1330px;
$mobile-width-only: 767px;

$color-bg-body: #ffffff;
$filter-bg-green: rgba(104, 183, 56, 0.85);
$color-basic-grey: #f2f2f2;
$color-dark-grey: #444444;
$color-bg-example: #eaeaea;
$color-basic-green: #68b738;
$color-basic-black: #000000;
$color-basic-white: #ffffff;
$contacts-black: #111111;
$color-special-dark-grey: #222222;
$color-nav-border: #e6e6e6;
$color-features-border: #d9d9d9;
$color-description-border: #cdcdcd;
$color-switcher-border: #cdcdcd;
$color-toggle-shadow: #d6d6d6;
$color-catalog-border: #ebebeb;
$color-toall-cross: #c6c6c6;
$color-catalog-options-border: #cdcdcd;
$color-form-border: #e7e7e7;

$arial-font: "Arial", sans-serif;
$oswald-font: "Oswald", "Arial", sans-serif;
