$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1330px;

$color-bg-body: #ffffff;
$color-basic-grey: #f2f2f2;
$color-dark-grey: #444444;
$color-bg-example: #eaeaea;
$color-basic-green: #68b738;
$color-basic-black: #000000;
$color-basic-white: #ffffff;
$contacts-black: #111111;
$color-special-dark-grey: #222222;

$arial-font: "Arial", sans-serif;
$oswald-font: "Oswald", "Arial", sans-serif;
